
html {
	font-size:100%;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%
}
a:focus {
	outline:thin dotted #333;
	outline:5px auto -webkit-focus-ring-color;
	outline-offset:-2px
}
a:hover,a:active {
	outline:0
}
button,input,select,textarea {
	margin:0;
	font-size:100%;
	vertical-align:middle
}
button,input {
	*overflow:visible;
	line-height:normal
}
button::-moz-focus-inner,input::-moz-focus-inner {
	padding:0;
	border:0
}
body {
        background-color: #CBC7BE;
}
#table {
        margin-top: 20px;
        background-color: white;
}
.t1 {
	font-size: 30px;
	color: #005580;
}
#main {
	padding: 35px;
}
.he2 {
	font-size: 30px;
	color: #005580;
}
